<div class="main-container">
  <!-- Section: What makes us different -->
  <section class="features-section">
    <h2>What makes us different<br>makes them stronger</h2>

    <div class="features-content">
      <div class="features-list">
        <div class="feature">
          <img src="assets/icons/food.png"  class="icon icon-wrapper" style="background-color: #d5f9ae;" />
          <div class="text-content">
            <h4>Real Food</h4>
          <p>Wholesome recipes for dogs with real meat and veggies.</p>
          </div>

        </div>
        <div class="feature">
          <img src="assets/icons/pet-bowl.png"  class="icon icon-wrapper" style="background-color: #f9f8ae;"/>
          <div class="text-content">
            <h4>Premium Ingredient</h4>
          <p>Elevating pet care with unmatched safety and quality.</p>
          </div>

        </div>
      </div>

      <img src="/assets/images/food1.png"  class="center-image" />

      <div class="features-list">
        <div class="feature">
          <img src="assets/icons/pet-food.png"  class="icon icon-wrapper" style="background-color: #aef9ee;"/>
          <div class="text-content">
            <h4>Made Fresh</h4>
          <p>We prioritize maintaining the integrity of whole foods and nutrition.</p>
          </div>

        </div>
        <div class="feature">
          <img src="assets/icons/vet.png"  class="icon icon-wrapper" style="background-color: #f9c6ae;"/>
          <div class="text-content">
            <h4>Vet Developed</h4>
            <p>We raise the bar for dog nutrition, surpassing industry expectations.</p>
          </div>

        </div>
      </div>
    </div>


    <div class="payment-section">
      <div class="cta-button-large">Get your dog's healthy meal today!</div>

      <div class="payment-row">
        <div class="guarantee">
          <img src="assets/icons/30-days.png" alt="Shield Icon" />
          <span>30-day money back guarantee</span>
        </div>

        <div class="payment-icons">
          <img src="assets/icons/paypal.png" alt="PayPal" />
          <img src="assets/icons/visa.png" alt="Visa" />
          <img src="assets/icons/mastercard.png" alt="MasterCard" />
          <img src="assets/icons/apple-pay.png" alt="Apple Pay" />
          <img src="assets/icons/google-pay.png" alt="Google Pay" />
        </div>
      </div>
    </div>

  </section>

  <!-- Section: Nutrition foundation -->
  <section class="nutrition-section">
    <div class="nutrition-text" style="width: 538px;">
      <h2>Nutrition is the foundation for longer, healthier lives in dogs.</h2>
      <p>Invest in your dog's future with our scientifically formulated superfood-powered supplements.
        Give them the nutrition they deserve and watch them thrive with vitality, energy, and the joy of a longer,
        healthier life.</p>

      <ul class="key-points">
        <h4>Key Points:</h4>
        <li>
          <div class="point">
            <span class="percentage">97%</span>
            <p>Dogs choose our dog food over leading brands because of its real functional ingredients and delicious flavor.</p>
          </div>
        </li>
        <li>
          <div class="point">
            <span class="percentage">84%</span>
            <p>Our dog food provides superior nutrition and a patented probiotic for optimal nutrient absorption.</p>
          </div>
        </li>
        <li>
          <div class="point">
            <span class="percentage">92%</span>
            <p>Our dog food's high protein and fat digestibility contribute to ideal stool quality.</p>
          </div>
        </li>
      </ul>

      <button class="cta-button orange">Give your furry friend the gift of wholesome nutrition</button>
    </div>

    <div class="nutrition-image">
      <img src="/assets/images/dog1.png"  />
    </div>
  </section>

  <section class="gut-health-section">
    <div class="gut-grid">
      <div class="gut-image">
        <img src="assets/images/dogeating.png" />
      </div>
      <div class="gut-text">
        <h2>Improve overall gastrointestinal health for better nutrient absorption</h2>
        <p>
          Through rigorous scientific studies and consultations with veterinarians,
          we have created a breakthrough formula exclusively tailored to combat the
          health challenges prevalent in dogs. A staggering 91% of our customers have
          reported significant improvements in their dogs' health after incorporating
          our product into their diet.
        </p>
      </div>
    </div>

    <div class="gut-grid reverse">
      <div class="gut-text">
        <h2>Prebiotics nourish the beneficial gut bacteria, supporting digestive health</h2>
        <p>
          Our dog food formula contains carefully selected prebiotics that work in harmony
          with the gut microbiota, providing the necessary nutrients for the growth and
          maintenance of beneficial bacteria, ultimately supporting digestive health.
        </p>
      </div>
      <div class="gut-image">
        <img src="assets/images/food2.jpg"  />
      </div>
    </div>
  </section>


</div>
